@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Common Container */

.container {
    margin: 0 auto;
    max-width: 67.5rem; /* 1080px */
}

/* Home Section */

main,
.hero {
    background-color: #1F2937;
}

/* Navigation Components */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo h1 {
    font-size: 24px; 
    color: #F9FAF8;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 3.5em;
    padding: 6px 0;
}

.nav-items a {
    font-size: 18px; 
    margin: 20px 0;
    color: #E5E7EB;
    text-decoration: none;
}

.nav-items a:hover {
    width: 10px;
    border-bottom: 2px solid #3882F6;
    padding-bottom: 6px;
}

/* Hero Container */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 120px 0;

}

/* Hero Components */

.hero-content {
    max-width: 32em;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-content p {
    font-size: 18px;
    color: #E5E7EB;
}

#hero-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 10px;
    padding: 8px 36px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#hero-btn:hover {
    background-color: #F9FAF8;
    color: #1F2937;
}

.hero-media {
    background-image: url(https://picsum.photos/512/229);
    background-color: rgba(144, 144, 144, 0.6);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 32em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Random-Info Section */
.random-info {
    text-align: center;
    padding: 50px 0;
}

.random-main-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 3em;
    padding: 36px 0;
    flex-wrap: wrap;
    
}

.random-sub-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    max-width: 180px;
}

.random-card {
    background-image: url(https://picsum.photos/200);
    box-shadow: rgba(49, 52, 53, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 160px;
    height: 160px;
    border: 3px solid #3882F6;
    border-radius: 0.8rem;
}

.random-sub-wrapper p {
    padding-bottom: 1rem;
}

/* Quote Section */
#quote {
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 100px 80px;
}

.quote p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote h3 {
    font-size: 24px;
    align-self: flex-end;
    padding-top: 1rem;
}

/* Call to action Section */
.cta {
    padding: 100px 0;
}

.cta-wrapper {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    border-radius: 0.7rem;
    gap: 1rem;
}

.cta-content h4 {
    font-size: 24px;
    color: #F9FAF8;
}

.cta-content p {
    color: #E5E7EB;
}

.btn {
    align-self: center;
}

#cta-btn {
    padding: 6px 36px ; 
    font-size: 18px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 0.6em;
    cursor: pointer;
}

#cta-btn:hover {
    background-color: #71a3f252;
}

/* Footer Section */
#footer {
    background-color: #1F2937;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    color: #F9FAF8;
}

.footer p {
    text-align: center;
    padding: 0 40px;
}